/* UNIVERSAL STYLES */    
    body {
            background-color: rgb(150, 148, 148);
    }

    .navbar {
        height: 90px;
    }

    /* Header styles */
        .navbar-header {
            margin-left: auto;
            margin-right: auto;
            margin-top:none;
            width: 230px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: wheat;
        }

        .nav-pills {
            margin-top: 20px;
            margin-bottom: none;
        }

        .nav-link {
            font-family: Arial, Helvetica, sans-serif;
            color: wheat;
            text-decoration: none;
            margin-left: 15px;
        }


    /* bg styles */
        .bg {
            width: fit-content;
            height: fit-content;
            min-height: calc(100vh - 240px); 
            background-image: url("../images/blue-snow.png");
        }

    /* main styles */
        .panel {
            background-color: rgb(150, 148, 148);
            padding-bottom: 20px;
        }
        .panel-heading {
            margin:auto;
        }
        #mainText {
            margin:auto;
            padding: 8px;
            background-color: rgba(245, 245, 245, 0.753);
            border-style: groove;
        }


    /* footer styles */
        .footer {
            height: 50px;
            background-color: rgb(150, 148, 148);
        }
        .footerText {
            color: wheat;
        }



/* PAGE-SPECIFIC STYLES */
    /* Contact page form styles */
    
        #formMessage {
            height: 200px;
        }
    


